.container {
  display: flex;
  padding: 2rem 3rem;
  align-items: center;
  justify-content: space-around;

  margin-bottom: 1rem;
  padding-bottom: 2.2rem;

  border-bottom: 1px solid #e3e4e6;

}

.titleContainer {
  flex: 1;
  display: flex;
  align-items: center;
  
  > div {
    margin-right: 1rem;
  }
}

.visitGithub {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 0.7rem;
  background-color: #633BBC;
  color: #fff;

  svg {
    margin-right: 0.5rem;
  }
}

.iconContainer {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #E1E1E6;

  display: flex;
  align-items: center;
  justify-content: center;
}

