.container {
  border-bottom: 1px solid #e3e4e6;
  width: 100%;
  
  nav {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 2rem;

    h1 {
      cursor: pointer;
    }

    ul {
      display: flex;
      list-style: none;

      li {
        & + li {
          margin-left: 2rem;
        }
      }
    }
  }
}

.logo span {
  color: #633BBC;
}

.signupButton {
  border-radius: 4px;
  padding: 0.7rem;
  border: 1px solid #633BBC;
  color: #633BBC;

  transition: background-color 0.2s ease, color 0.2s ease;

  &:hover {
    background-color: #633BBC;
    color: #fff;
  }
}
